In [14]:
# Create a practice set of random latitude and longitude combinations.
x = [25.12903645, 25.92017388, 26.62509167, -59.98969384, 37.30571269]
y = [-67.59741259, 11.09532135, 74.84233102, -76.89176677, -61.13376282]
coordinates = zip(x, y)

In [28]:
# Use the tuple() function to display the latitude and longitude combinations.
for coordinate in coordinates:
    print(coordinate[0], coordinate[1])

In [29]:
# Use the citipy module to determine city based on latitude and longitude.
from citipy import citipy

In [30]:
# Use the tuple() function to display the latitude and longitude combinations.
for coordinate in coordinates:
    print(citipy.nearest_city(coordinate[0], coordinate[1]).city_name,
          citipy.nearest_city(coordinate[0], coordinate[1]).country_code)

In [31]:
# Import the requests library.
import requests

# Import the API key.
from config import api_key

In [32]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + api_key
print(url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=4a9362e8de27fc984a83a644c68b01cf

In [42]:
# Create an endpoint URL for a city.
city_url = url + "&q=" + "Boston"
city_weather = requests.get(city_url)
city_weather.json()
#boston_data = city_weather.json()

{'coord': {'lon': -71.0598, 'lat': 42.3584},
 'weather': [{'id': 801,
   'main': 'Clouds',
   'description': 'few clouds',
   'icon': '02n'}],
 'base': 'stations',
 'main': {'temp': 58.89,
  'feels_like': 57.63,
  'temp_min': 54,
  'temp_max': 61,
  'pressure': 1007,
  'humidity': 67},
 'visibility': 10000,
 'wind': {'speed': 9.22, 'deg': 210},
 'clouds': {'all': 20},
 'dt': 1618114204,
 'sys': {'type': 1,
  'id': 3486,
  'country': 'US',
  'sunrise': 1618135751,
  'sunset': 1618183246},
 'timezone': -14400,
 'id': 4930956,
 'name': 'Boston',
 'cod': 200}

In [38]:
boston_data['sys']

{'type': 1,
 'id': 3486,
 'country': 'US',
 'sunrise': 1618049451,
 'sunset': 1618096778}

In [39]:
boston_data["dt"]

1618113271

In [44]:
lat = boston_data["coord"]["lat"]
lng = boston_data["coord"]["lon"]
max_temp = boston_data["main"]["temp_max"]
humidity = boston_data["main"]["humidity"]
clouds = boston_data["clouds"]["all"]
wind = boston_data["wind"]["speed"]
print(lat, lng, max_temp, humidity, clouds, wind)

42.3584 -71.0598 61 67 20 9.22

In [49]:
import pandas as pd
boston_data = []

# Convert the array of dictionaries to a Pandas DataFrame.
boston_data_df = pd.DataFrame(boston_data)
boston_data_df.head(10)

Empty DataFrame
Columns: []
Index: []