## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Kodiak,US,37.40,moderate rain,57.7900,-152.4072,Best Western Kodiak Inn And Convention Center
1,13,Neryungri,RU,22.37,broken clouds,56.6709,124.6491,Pyat' Zvozd
2,43,Haines Junction,CA,37.40,overcast clouds,60.7522,-137.5108,Parkside Inn
3,46,Skibbereen,IE,39.20,fog,51.5500,-9.2667,The West Cork Hotel
4,63,Ilulissat,GL,21.20,overcast clouds,69.2167,-51.1000,Hotel Arctic

In [20]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations =  vacation_df[["Lat", "Lng"]]

In [21]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Northam"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Northam"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Hereford"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Enderby"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Warrington"]

In [50]:
#vacation_df.loc[vacation_df["City"] == "Hereford"]
print(list(vacation_start["Lat"]))

print(vacation_start["Lat"])
print(vacation_start["Lat"].to_numpy()[0])

[51.0333]
81    51.0333
Name: Lat, dtype: float64
51.0333

In [41]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
print(f'Start: {start}, End: {end}')
 
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'Stop 1: {stop1}, Stop 2: {stop2},Stop 3: {stop3}')

Start: (51.0333, -4.2167), End: (51.0333, -4.2167)
Stop 1: (52.0568, -2.7148), Stop 2: (52.5878, -1.2062),Stop 3: (53.3925, -2.5802)

In [43]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure(center=(38, -122), zoom_level = 7)
Northam = start
Hereford = stop1
Enderby = stop2
Warrington = stop3 
directions_layer = gmaps.directions_layer(Northam, Northam, 
                                  waypoints=[Hereford, Enderby, Warrington],
                                  travel_mode="DRIVING")

#fig.add_layer(city_itinerary)
#fig

In [44]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,
                          vacation_stop2,vacation_stop3],
                         ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,529,Northam,GB,37.00,clear sky,51.0333,-4.2167,Durrant House Hotel
1,263,Hereford,GB,39.99,clear sky,52.0568,-2.7148,The Green Dragon Hotel
2,537,Enderby,GB,39.00,overcast clouds,52.5878,-1.2062,Leicester Marriott Hotel
3,259,Warrington,GB,39.99,broken clouds,53.3925,-2.5802,Patten Arms Hotel

In [45]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [46]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# fig.add_layer(marker_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))